// =============================================================================
// Footer
// =============================================================================

.footer {
  font-family: $inconsolata;
  font-weight: 400;
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;
  img {
    max-width: 20%;
  }
  p {
    font-size: 15px;
    color: $gray-light;
  }
  a {
    color: $yellow;
    text-decoration: none;
  }
}
